/* #content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
} */

#greeting-container {
  margin-top: 20px;
}

#descriptionDiv {
  margin-left: 50vw;
}

#mainHello {
  text-align: left;
  color: #211023;
  font-size:90px;
  padding-left:30px;
  padding-top:30px;
  margin-bottom: 0px;
  font-family: 'Montserrat', sans-serif;
  text-shadow:1px 1px 1px ghostWhite;
  animation: 2s ease-out 0s 1 smoothIn;
  font-weight: 800;
}

#blinkingHoverWarning {
    color: #FF3B3F;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    opacity:0;
    animation: blinkingText 2.5s 5;
    padding-left:50px;
    margin-top: 5px;
    font-size:17px;
    padding-top:0px;
}

#generalHeader {
    text-align: center;
    vertical-align: top;
    color:white;
    font-size:30px;
    padding-top:15px;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

#pinkCell {
    background-color:#FF3B3F;
}

#whiteCell {
    background-color:ghostwhite;
}

#greenCell {
    background-color:rgb(97, 118, 107);
}

#greenCellFull {
    background-color:rgb(97, 118, 107);
    padding:10px;
}

#yellowCell {
    background-color:black;
    padding:20px;
}

#grayCell {
    background-color:ghostwhite;
    opacity: 0.5;
}

#opaquePinkCell {
    background-color:#FF3B3F;
}

#pinkHeader {
    color:#FF3B3F;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: left;
    padding: 30px;
    margin: 0px;
}

#normalText {
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 30px;
}

#mainDescriptionText {
    color:black;
    font-family: 'Montserrat', sans-serif;
    padding-left: 40px;
    text-align:left;
}

#normalTextNoPadding {
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 0px;
}

#borderRow {
    width:100vh;
    height:23px;
    background-color:white;
}

#borderCell {
    width:23px;
    background-color:white;
}

body {
    margin: 0px;
}

table {
    table-layout: fixed;
}

.fullTr {
    height: 95vh;
}

.movingCell {
    width:45vw;
    transition-property: width;
    transition-duration: 2s;
}

.movingCell:hover {
    width:65vw;
}

.movingCell span{ display: none;}

.movingCell:hover span{ display: inline;}

.faded {
    opacity:0.5;
}

.faded:hover{
    opacity: 1;
}

.mainDiv {
    width: 100vw;
    height: 50vw;
}

.animatedCell {
    background-color:#FF3B3F
    transition: background-color 4s;
    will-change: background-color;
}

.animatedCell.is-visible {
    background-color:black;
}

@keyframes smoothIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@keyframes blinkingText {
    0% {
        opacity:0;
    }
    45% {
        opacity:1;
    }
    55% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}