/* General Use */
body {
    margin: 0px;
}

body, html {
    height: 100%;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

table, th, td {
    border-width: 0px;
}

.borderCell {
    width:27px;
    background-color:white;
    padding-top:40vh;
}

.doubleTr {
    height: 280vh;
}

.fullTr {
    height: 100vh;
}

#parallaxWhite { 
  background-color: white;
  height:0px;
  transition: 1s;
}

#parallaxBlack { 
  background-color:black;
  height:0px;
  transition: 1.2s;
}


/* First Section: 'Wellcome' */
#mainHello {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-weight: 800;
    font-size:90px;
    color: #211023;
    text-shadow:1px 1px 1px ghostWhite;
    padding-left:30px;
    position:fixed;
    overflow:hidden;
    top:30vh;
    margin-bottom: 0px;
    animation: 1s ease-out 0s 1 smoothIn;
    transition: 1s;
}

#movingcell {
    width:45%;
    transition: 2s;
    background-image: linear-gradient(#FF3B3F, #FF3B3F, #E23076, #AA4695);
}

#socialMediaLinksDiv {
    overflow:hidden; 
    position:fixed; 
    top:40vh; 
    width:100%;
    transition: 1.5s;
}

/* Second Section: Mini bio */
#bioWavyLine {
    opacity: 0;
    width:20%; 
    height:10px; 
    margin:0px;
    padding-bottom:30px;
    transition: 1.1s;
}

#gifDescriptDiv {
    background-color:ghostwhite;
    padding:5px;
    height:20%;
    width:100%;
    opacity: 0;
    transition: 1s;
}

#gifDiv {
    width: 40%;
    opacity: 0;
    transition: 1s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border-style: solid;
    border-width: 10px;
    border-color:ghostwhite;
    margin-bottom:30px;
    text-align: center;
}

#gifPositionerDiv {
    position:fixed;
    height:100%;
    width:50%;
    align-self: right;
    overflow:hidden;
    top:250px;
}

#miniBioDiv {
    position:fixed;
    height:100%;
    width:50%;
    overflow:hidden;
    top:250px;
}

#miniBioHeader {
    color:black;
    font-family: 'Bebas Neue', cursive;
    text-align:justify;
    font-size:50px; 
    font-weight:400;
    margin-bottom: 5px;
    width: 480px;
    opacity: 0;
    transition: 1s;
}

#miniBioText {
    color:black;
    font-family: 'Montserrat', sans-serif;
    text-align:justify;
    font-size:15px;
    font-weight:400;
    line-height: 150%;
    width: 480px;
    opacity: 0;
    transition: 1.2s;
}

#waveGif {
    width:50%; 
    padding:10px;
    opacity: 0;
    transition: 1.5s;
}


/* Third Section: Projects */
#purpleCell {
    background-image: linear-gradient(#58538d, #38527d);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(14, 4vw);
  grid-gap: 1.5rem; 
}

.galleryContainer {
  width: 95%;
  margin: 2rem auto; 
}

.galleryTextDiv {
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.galleryLlama {
    background: url("../Images/llama_white.png");
    background-size: cover;
}

.galleryPear {
    background: url("../Images/pear.png");
    background-size: cover;
}

.galleryJelly {
    background: url("../Images/jellyfish_white.png");
    background-size: cover;
}

.galleryFox {
    background: url("../Images/fox_white.png");
    background-size: cover;
}

.galleryFudge {
    background: url("../Images/fudge.png");
    background-size: cover;
}

.galleryAmazoon {
    background: url("../Images/llama_white.png");
    background-size: cover;
}

.galleryBmore {
    background: url("../Images/llama_white.png");
    background-size: cover;
}

.galleryTextDiv:hover {
    background: url("../Images/plainWhite.png");
    opacity: 0.5;
    background-size: cover;
}

.galleryTextSpan {
    display:none;
}

.galleryTextDiv:hover .galleryTextSpan {
    display:block
}


.galleryItem {
    background-color: rgba(250, 250, 250, 0.4);
    border: 1px transparent solid;
    mix-blend-mode: screen;
    margin:0px;
}

.galleryItemWithHover:hover {
    background-color: rgba(250, 250, 250, 0.7);
    border: 1px white solid;
}


.galleryItem--1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
}

.galleryItem--2 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 7;
}

.galleryItem--3 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 6;
}

.galleryItem--4 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 4;
  grid-row-end: 8;
}

.galleryItem--5 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 6;
  grid-row-end: 10;
}

.galleryItem--6 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 9;
  grid-row-end: 13;
}

.galleryItem--7 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 9;
}

.galleryItem--8 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 10;
  grid-row-end: 14;
}

.projectDescriptText {
    color:rgb(54, 54, 54);
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 2vw;
    font-weight:400;
    margin:0px;
    padding:30px;
}


/* Animations stuff */
@keyframes smoothIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
